@model Car
<div class="col mb-4">
    <div class="card h-100 car-card">
        <img class="card-img-top" src="@Model.ImageSrc" />
        <div class="card-body d-flex flex-column">
            <h4 class="card-title h6">@Model.Name</h4>
            <div class="d-flex align-items-center">
                <div>
                    <h2 class="card-text text-success">@Model.DiscountedPrice.Value.ToString("c2")</h2>
                    <p class="card-text text-decoration-line-through small">@Model.Price.ToString("c2")</p>
                </div>

            </div>
            <a asp-route="detay" asp-route-name="@Model.Name.ToSafeUrlString()" asp-route-id="@Model.Id" class="btn btn-info mt-auto">
                <i class="fa fa-search"></i>
                İncele
            </a>
            <div class="bg-success shadow-sm text-white h2 p-2 position-absolute" style="top: 10px; right: 10px;">
                %@Model.DiscountRate
                <div class="small" style="font-size: .85rem;">indirim</div>
            </div>
        </div>
    </div>
</div>
