@model Car
@inject IConfiguration configuration
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = Model.Name;
    var categories = new SelectList(Model.Categories, "Id", "Name");
    var userId = Guid.Empty;
    if (User.Identity.IsAuthenticated)
        userId = Guid.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
}
<div class="row mb-3">
    <div class="col-12 col-md-6">
        <img id="carImage" src="@Model.ImageSrc" class="img-fluid" />
        <div class="py-2 d-flex justify-content-center">
            @foreach (var carImage in Model.CarImages)
            {
                <img src="data:image/jpeg;base64, @Convert.ToBase64String(carImage.Image)" height="90" class="mx-1 preview-image @((Model.CarImages.FirstOrDefault() == carImage ? "active" : ""))" />
            }
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="d-flex align-items-center">
            <h1>@Model.Name</h1>
            <div class="h3 text-warning ms-auto">
                @if (Model.Comments.Any())
                {
                    var avg = Model.Comments.Where(p => p.Enabled).Average(p => p.Rate);
                    <text>@avg.ToString("n1") / 5</text>
                    <div style="font-size: .8rem;">
                        <partial name="_StarPartial" model="@avg" />
                    </div>
                }
            </div>
        </div>


        <h2 class="text-success">
            @Model.DiscountedPrice.Value.ToString("c2")
        </h2>
        <small class="small text-decoration-line-through">@Model.Price.ToString("c2")</small> <br />
        
        <a class="btn btn-success py-2" asp-action="AddToCart" asp-route-id="@Model.Id">
            <i class="fa fa-shopping-cart"></i>
            Sepete Ekle
        </a>
    </div>
</div>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="desc-tab" data-bs-toggle="tab" data-bs-target="#desc-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">
            Açıklamalar
        </button>
    </li>
    
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">
            Yorumlar (@Model.Comments.Count(p => p.Enabled || p.ApplicationUserId == Guid.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier))).ToString("n0"))
        </button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="desc-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <blockquote>
            @Model.Descriptions
        </blockquote>
    </div>
    <div class="tab-pane fade" id="installments-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        
    </div>
    <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
        <partial name="_CommentFormPartial" model="@(new Comment { CarId = Model.Id })" />

        @foreach (var comment in Model.Comments.Where(p => p.Enabled || p.ApplicationUserId == userId).OrderByDescending(p => p.DateCreated))
        {
            <figure>
                <blockquote class="blockquote">
                    <partial name="_StarPartial" model="@((double)comment.Rate)" />
                    <p>@comment.Text</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    @comment.ApplicationUser!.Name - <cite>@comment.DateCreated.ToShortDateString() </cite>
                </figcaption>
            </figure>
            <hr />
        }

    </div>
</div>


@section Scripts {
    <script>
        $(() => {
            $('.preview-image').on('click', (evt) => {
                $('#productImage').attr('src', $(evt.currentTarget).attr('src'));
                $('.preview-image').removeClass('active');
                $(evt.currentTarget).addClass('active');
            });
        });
    </script>
}