@model Order
@{
    ViewData["title"] = "Sipariş Detayı";
}

<div class="card">
    <div class="card-body">
        <div class="d-flex">
            <div class="flex-fill">
                <h4>@Model.DateCreated.ToShortDateString()</h4>
                <h2>
                    @Model.ApplicationUser.Name
                    <br />
                    <a href="mailto:@Model.ApplicationUser.UserName" class="small">@Model.ApplicationUser.UserName</a>
                </h2>
                <h2 class="text-danger">
                    @Model.GrandTotal.ToString("c2")
                </h2>
            </div>
            <div class="ml-auto">
                <form asp-action="Status" method="get">
                    <input type="hidden" name="id" value="@Model.Id" />
                    <select class="custom-select" name="status" asp-items="@Html.GetEnumSelectList<OrderStatus>()">
                    </select>
                    <button type="submit" class="btn btn-primary">
                        Gönder
                    </button>
                </form>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Görsel</th>
                    <th>Ürün Adı</th>
                    <th>İskonto</th>
                    <th>Fiyat</th>
                    <th>Miktar</th>
                    <th>Tutar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var orderItem in Model.OrderItems)
                {
                    <tr>
                        <td>
                            <img src="@orderItem.Car!.ImageSrc" height="120" alt="@orderItem.Car!.Name" />
                        </td>
                        <td>
                            @orderItem.Car.Name
                        </td>
                        <td>
                            @orderItem.DiscountRate / @orderItem.Car.DiscountRate
                        </td>
                        <td>
                            @orderItem.Price.ToString("c2")
                        </td>
                        <td>
                            @orderItem.Quantity.ToString("n0")
                        </td>
                        <td>
                            @orderItem.LineTotal.ToString("c2")
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">Toplam:</td>
                    <td>
                        @Model.GrandTotal.ToString("c2")
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

